@config "../../tailwind.config.cjs";

@import "./base.css";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@import "tailwindcss";

@layer base {
  html {
    font-family: "Inconsolata", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
      "Helvetica Neue", monospace;
  }

  body {
    font-family: inherit;
    font-weight: 400;
  }
}
